<div class="flex flex-col font-semibold w-full">
    <div id="div-upper-footer" class="flex flex-col items-center p-6  bg-deep-forest-green">
        <div><img src="/imgs/logo.png" class="bp:w-20 bp:h-20 xs:w-16 xs:h-16"></div>
        <div id="div-anchors" class="-tracking-tight mt-5 text-sm xs:text-xs xs:p-0 bp:scale-100"
            style="word-spacing: 0.5em;">
            <p class="bp:text-sm">
                <a href="/about" class="bp:p-1 pl-1.5 pr-2 hover:bg-terracota transition duration-200 xs:p-0">About</a>
                ▧
                <a href="/contact" class="bp:p-1 p-1 pl-1.5 pr-2 hover:bg-terracota transition duration-200 xs:p-0">Contact</a>
                ▧
                <a href="/policy" class="bp:p-1 p-1 pl-1.5 pr-2 hover:bg-terracota transition duration-200 xs:p-0">Policy</a>
                ▧
                <a href="/news" class="bp:p-1 p-1 pl-1.5 pr-2 hover:bg-terracota transition duration-200 xs:p-0">News</a>
                ▧
                <a href="/support" class="bp:p-1 p-1 pl-1.5 pr-2 hover:bg-terracota transition duration-200 xs:p-0">Support</a>
            </p>
        </div>
    </div>
    <div id="div-lower-footer" class="flex flex-row justify-between items-center p-2 bg-ivory">
        <div id="rights" class="">
            <p class="text-xs font-normal xs:text-xxs bp:text-xs">© YelpCamps. All rights reserved</p>
        </div>
        <div id="div-socials" class="flex content-between gap-4">
            <a href="https://www.facebook.com/vitor.ancap/">
                <img src="/imgs/facebook.png" class="bp:w-8 bp:h-8 xs:w-6 xs:h-6">
            </a>
            <a href="https://www.linkedin.com/in/vitorl-ribeiro/">
                <img src="/imgs/linkedin.png" class="bp:w-8 bp:h-8 xs:w-6 xs:h-6">
            </a>
            <a href="https://github.com/TheLastAurora">
                <img src="/imgs/github.png" class="bp:w-8 bp:h-8 xs:w-6 xs:h-6">
            </a>
        </div>
    </div>
</div>