<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <title>
        <%= `YelpCamp - ${locals.campground.name}` %>
    </title>
</head>

<body>
    <header>
        <% if (locals.access) { %>
          <%- include('../partials/header-auth') %>
        <% } else { %>
          <%- include('../partials/header') %>
        <% } %>
      </header>
      
    <main>
        <h1>All the content goes here!</h1>

        <img src="<%= locals.links[0] %>" alt="">
    </main>
    <footer>
    </footer>
</body>

</html>